button {
  background-color: #1a5276;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.primary {
  background-color: #1a5276;
}
.secondary {
  background-color: #e7e7e7;
  color: black;
}
.success {
  background-color: #4caf50;
}
.danger {
  background-color: #f44336;
}
