.action-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-panel > a {
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}